.video {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.video .Button.x {
    position: absolute;
    top: 0;
    right: -60px;
    display: flex;
    align-self: flex-start;
}

.video-wrapper {
    margin-top: 100px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: fit-content;
    background-color: #fff;
    border-radius: 24px;
}

.youtubeVideo {
    width: 960px;
    height: 540px;
}