.footer {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 28px;
}

.footer-link {
    display: flex;
}

@media screen and (max-width: 430px) {
    .footer {
        justify-content: flex-start;
    }
}