.register {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.register-form {
    position: relative;
    top: 200px;
    display: flex;
    justify-self: center;
    align-self: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 420px;
    padding: 64px 40px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 24px;
}

.register-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

.register-logo {
    display: flex;
}

.register-logo_title {
    padding-top: 5px;
}

.register-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.register-input {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 16px 16px 16px 56px;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    border-radius: 8px;
    background-position: left 16px center;
    background-repeat: no-repeat;
    background-size: 22px 18px;
    font-size: 16px;
}

.register-input_email {
    background-image: url('../../assets/mail.svg');
}

.register-input_text {
    background-image: url('../../assets/userLogo.svg');
}

.register-input_password {
    background-image: url('../../assets/key.svg');
}

@media screen and (max-width: 375px) {
    .register-form {
        width: 335px;
        padding: 64px 20px 32px 20px;
    }

    .register-form .Button.x {
        background-size: 18px;
        top: 16px;
        right: 16px;
    }
}